.placeholder-for-url-bar-scroll {
    height: 36px;
}

.lonlat-invalid {
    color: lightgray;
}

.stacked-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.65);
}

.button {
    transform: scale(0.8);
}

.row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.disabled-button {
    pointer-events: none !important;
    cursor: default;
    color: Gray;
}

.table-container-portrait {
    height: calc(30dvh);
    overflow: auto;
}

.table-container-landscape {
    height: calc(100dvh - 63.98px - 36px);
    overflow: auto;
}

.mat-mdc-table-sticky {
    background: #59abfd;
    opacity: 1;
}

.mat-column-name { flex: 0 1 50%; }
.mat-column-lonlat { flex: 0 1 25%; }
.mat-column-actions { flex: 0 1 25%; }
