<div class="page-content"
     [fxLayout]="(isLandscape$ | async)?'row':'column'"
    >
    <div fxLayout="row" fxFlex="0 100 auto" fxFill>
        <div class="map-controls" fxLayout="column">
            <a mat-icon-button (click)="resetView()" matTooltip="Reset view (top-left, 100% zoom)" matTooltipPosition="right" matTooltipShowDelay="500">
                <mat-icon aria-hidden="false" aria-label="Reset view" fontIcon="home"></mat-icon>
            </a>
            <a mat-icon-button (click)="zoomToAll()" matTooltip="Zoom to fit view" matTooltipPosition="right" matTooltipShowDelay="500">
                <mat-icon aria-hidden="false" aria-label="Reset view" fontIcon="zoom_out_map"></mat-icon>
            </a>
            <a mat-icon-button [class]="selectedTool=='panzoom'?'mat-tonal-button':''" (click)="selectedTool='panzoom'"
            matTooltip="Pan and zoom tool" matTooltipPosition="right" matTooltipShowDelay="500">
                <mat-icon aria-hidden="false" aria-label="Pan/Zoom" fontIcon="pan_tool"></mat-icon>
            </a>
            <a mat-icon-button [class]="selectedTool=='edit'?'mat-tonal-button':''" (click)="selectedTool='edit'"
            matTooltip="Point or bubble select/move/create tool" matTooltipPosition="right" matTooltipShowDelay="500">
                <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
            </a>
        </div>
        <div class="map-content">
            <!-- Background canvas (tiles) -->
            <canvas id="bgCanvas" #bgCanvas></canvas>
            <!-- SVG overlay container (between the canvases) -->
            <div class="svg-container" #svgContainer [innerHTML]="svgContent"></div>
            <!-- Foreground canvas frontend drawn points / paths / bubbles -->
            <canvas id="overlayCanvas" #overlayCanvas></canvas>
            <!-- Invisible capture layer for pointer events (useful for mobile) -->
            <div #pointerCapture class="pointer-capture"
                (pointerdown)="onPointerDown($event)"
                (pointermove)="onPointerMove($event)"
                (pointerup)="onPointerUp($event)"
                (pointercancel)="onPointerCancel($event)"
                (wheel)="onMouseWheel($event)"
            >
            </div>
        </div>
    </div>
    <div class="map-info" [style.width]="(isLandscape$ | async)?panelWidth:''">
        <ng-content></ng-content>
    </div>
</div>
