<section>
    <div fxLayout="row">
        <a mat-raised-button [disabled]="first_step" (click)="stepBack()">
            <mat-icon aria-hidden="false" aria-label="Step back" fontIcon="arrow_back"></mat-icon>
            Step {{step_index-1}}
        </a>
        <div fxFlex>
            <mat-icon aria-hidden="false"
                      aria-label="Fullscreen"
                      fontIcon="fullscreen"
                      (click)="goFullScreen()">x
            </mat-icon>
            <span fxFlex fxLayoutAlign="center center">{{header_title}}</span>
            <mat-icon *ngIf="!(imgsrv.connected | async)"
                      aria-hidden="false"
                      aria-label="Disconnected"
                      fontIcon="power_off"
                      matTooltip="Sorry, there is no connection to the server.
                                  If it does not get better in a minute try
                                  refreshing the page">
            </mat-icon>
            <mat-icon aria-hidden="false"
                      aria-label="Help"
                      fontIcon="help"
                      [matTooltip]="tooltip">
            </mat-icon>
        </div>
        <a mat-raised-button [disabled]="last_step" (click)="stepForward()">
            Step {{step_index+1}}
            <mat-icon aria-hidden="false" aria-label="Step forward" fontIcon="arrow_forward"></mat-icon>
        </a>
    </div>
</section>