<section>
    <div fxLayout="row">
        <a mat-raised-button (click)="stepBack()">
            <mat-icon aria-hidden="false" aria-label="Step back" fontIcon="arrow_back"></mat-icon>
            Step {{step_index-1}}
        </a>
        <div fxFlex>
            <span fxFlex fxLayoutAlign="center center">{{title}}</span>
            <mat-icon aria-hidden="false"
                      aria-label="Help"
                      fontIcon="help"
                      [matTooltip]="tooltip">
            </mat-icon>
        </div>
        <a mat-raised-button (click)="stepForward()">
            Step {{step_index+1}}
            <mat-icon aria-hidden="false" aria-label="Step forward" fontIcon="arrow_forward"></mat-icon>
        </a>
    </div>
</section>