<app-header [step-index]="6"
            header_title="Download and Save"
            [last-step]="true"
            tooltip="Here you can download the final products of the software. The Report will be a Word document
                     with a pilots log including map, timings, wind corrections, distances. The map can be separately
                     downloaded as an image. A .GPX file can be downloaded to import into SkyDemon. And you can save your
                     route locally in a .VFR file (which can be later loaded in the application).">
</app-header>
<section fxLayoutAlign='center center' fxLayout='row' class="content-area">
    <div fxLayout="column">
        <a mat-raised-button (click)="downloadDOCX()">Download DOCX report</a>
        &nbsp;
        <a mat-raised-button (click)="downloadPNG()">Download PNG image</a>
        &nbsp;
        <a mat-raised-button (click)="downloadGPX()">Download GPX file for SkyDemon</a>
        &nbsp;
        <a mat-raised-button (click)="downloadVFR()">Download VFR file (to load here later)</a>
        &nbsp;
        <a mat-raised-button (click)="saveToServer()">Publish route (save on server)</a>
    </div>
    <div><!--form [formGroup]="form" fxLayout="column" class="spacing"-->
        <mat-label>Date of flight (UTC):</mat-label>
        <div style="background-color: var(--mdc-filled-text-field-container-color);" fxLayoutAlign="center center">
            <input type="text"
                   matInput
                   [matDatepicker]="dofPicker"
                   placeholder="Date of flight (UTC)"
                   name="dof"
                   [(ngModel)]="dof"
                   (dateChange)="changeDOF()" />
            <mat-datepicker-toggle matIconSuffix [for]="dofPicker"></mat-datepicker-toggle>
        </div>
        <mat-datepicker #dofPicker></mat-datepicker>
        <mat-label>Time of flight (UTC):</mat-label>
        <div style="background-color: var(--mdc-filled-text-field-container-color);">
            <input type="time"
                   matInput
                   placeholder="Time of flight (UTC)"
                   name="tof"
                   style="width: calc(100% - 37px); margin: 16px;"
                   [(ngModel)]="tof"
                   (change)="changeDOF()" />
        </div>
    </div>
</section>