.content-area {
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);
    overflow-y: hidden;
    padding: 10px
}

.scrollable-part {
    overflow-y: auto;
    height: calc(100vh - 20px);
}

img {
    width: 95%;
    max-width: 525px;
    height: auto;
    align-self: center;
}