<div fxFlexFill 
     fxLayoutAlign="center start" fxLayoutAlign.lt-sm="start start"
     fxLayout="row" fxLayout.lt-sm="column"
     fxLayoutGap="20px" fxLayoutGap.lt-sm="10px"
     class="content-area"
    >
    <div fxFlex="0 100 45%" fxLayout="column" fxShow="false" fxShow.lt-sm="true">
        <img fxFlex src="assets/screenshot.png" alt="screenshot">
        <button mat-raised-button title="Let's start" (click)="start()">Let's start</button>
    </div>
    <div fxLayout="column" fxFlex class="scrollable-part">
        <h1>VFR Function Routes</h1>

        <h2>Why?</h2>

        <p>
        This app is for pilots. For pilots who are tired of going the straight routes.
        </p>

        <p>
        The idea is not mine but when I heard that we could fly following mathematically defined curves, the idea stuck with me.
        It fascinated me on so many levels. I, as a pilot (which is a hobby for me) was fascinated by how we can plan and how we
        can fly this visually without technical aids. As a programmer (again just a hobby) I saw an opportunity to create an app
        to make it easy to plan. As someone who uses math for daily work, I tried to find the way to calculate this.
        </p>

        <p>
        So this app is a route planner, for non-straight lines.
        </p>

        <h2>How?</h2>

        <p>
        Just go to the website, start a route (new, load or use the sample). Then go through the steps. You will define an area
        where you want to fly, then the waypoints, then math functions, their x-values at different points and additional
        constraining points if needed. Then you can add annotations at certain points which will aid you in following the
        changes in the curve more easily while flying. And when you get out of the plane after your flight, you can add your
        actual flown path to compare.
        </p>

        <h2>What?</h2>

        <p>
        This is just a webapp now I spun up as a hobby project. Use it and enjoy. If you like it, buy me a beer/coffee when we
        meet at an airport.
        </p>
    </div>
    <div fxFlex="0 100 45%" fxLayout="column" fxShow="true" fxShow.lt-sm="false">
        <img fxFlex src="assets/screenshot.png" alt="screenshot">
        <button mat-raised-button title="Let's start" (click)="start()">Let's start</button>
    </div>
</div>