<app-header [step-index]="4"
            title="Define Annotation Points" 
            tooltip="In Pan/Zoom mode you can drag the map with left mouse button and zoom in/out with the scroll wheel. 
                     In Edit mode you can move points which will be annotated (name, desired track, wind correction, timing, etc.)
                     with the left mouse button and create a new one with the middle button.
                     In the table on the right you can edit the points' x-valaue in function space and edit the offset (in image 
                     coordinates) of the bubble for the annotations.">
</app-header>
<app-map-edit
    panelWidth="610px!important"
    (drawOverlay)="drawOverlayTransformed($event)" 
    (enumPoints)="enumPoints($event)"
    (movePointTo)="movePointTo($event)" 
    (addPointAt)="addPointAt($event)" 
    (finalizePoints)="finalizeMove()"
>
    <h1>Leg</h1>
    <div fxLayout="row" fxLayoutAlign="center">
        <a mat-icon-button (click)="changeLeg(-1)"><mat-icon aria-hidden="false" aria-label="Previous leg" fontIcon="arrow_left"></mat-icon></a>
        <span>{{legs[leg_index]?legs[leg_index].name:''}} ({{leg_index+1}}/{{legs.length}})</span>
        <a mat-icon-button (click)="changeLeg(1)"><mat-icon aria-hidden="false" aria-label="Next leg" fontIcon="arrow_right"></mat-icon></a>
    </div>
    <app-math-edit [readOnly]="false"></app-math-edit>
    <div style="background-color: var(--mdc-filled-text-field-container-color);">
        <mat-checkbox [(ngModel)]="showBubbles" title="Show estimated bubbles">Show estimated bubbles</mat-checkbox>
    </div>
    <table>
        <thead class="table-header-cell">
            <td>Name</td>
            <td>X</td>
            <td>Ofs (XY)</td>
            <td>Actions</td>
        </thead>
        <tr *ngFor="let a of legs[leg_index]?legs[leg_index].annotations:[]; index as i">
            <td><input placeholder="name" type="text" [value]="a.name" (change)="change('name', i, $event)"></td>
            <td><input placeholder="functions x-value at this point" type="number" [value]="a.func_x | number:'1.2-2'" (change)="change('func_x', i, $event)"></td>
            <td>
                <input placeholder="x offset of bubble" type="number" [value]="a.ofs_x | number:'1.2-2'" (change)="change('ofs_x', i, $event)">
                <input placeholder="y offset of bubble" type="number" [value]="a.ofs_y | number:'1.2-2'" (change)="change('ofs_y', i, $event)">
            </td>
            <td>
                <span class="row-buttons">
                    <a (click)="deleteAnnotation(i)">
                        <mat-icon class="button" aria-hidden="false" aria-label="delete" fontIcon="delete"></mat-icon>
                    </a>
                </span>
            </td>
        </tr>
    </table>
    <button mat-raised-button title="Refresh image" style="width: 100%;" (click)="updateAnnotations();">Refresh image</button>
</app-map-edit>