<app-header #header
            [step-index]="4"
            header_title="Define Annotation Points" 
            tooltip="In Pan/Zoom mode you can drag the map with left mouse button and zoom in/out with the scroll wheel. 
                     In Edit mode you can do two things depending on if the estimated bubbles are shown.
                     Either they are hidden and you can move points which will be annotated (name, desired track, wind correction, timing, etc.)
                     with the left mouse button (only along the function, can not go further than the next annotation point) and
                     create a new one with the middle button. Or if they are shown, you can move the bubbles around.
                     In the table on the right you can edit the points' x-valaue in function space and edit the offset (in image 
                     coordinates) of the bubble for the annotations.">
</app-header>
<app-map-edit
    #map
    panelWidth="300px"
    (drawOverlay)="drawOverlayTransformed($event)" 
    (enumPoints)="enumPoints($event)"
    (movePointTo)="movePointTo($event)" 
    (addPointAt)="addPointAt($event)" 
    (finalizePoints)="finalizeMove()"
>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <div fxLayout="row" fxLayoutAlign="center">
                    <a mat-icon-button (click)="changeLeg(-1)" matTooltip="Previous leg" matTooltipShowDelay="500"
                        fxLayoutAlign="start center">
                        <mat-icon aria-hidden="false" aria-label="Previous leg" fontIcon="arrow_left"></mat-icon>
                    </a>
                    <span fxLayoutAlign="center center">{{legs[leg_index]?legs[leg_index].name:''}}
                        ({{leg_index+1}}/{{legs.length}})</span>
                    <a mat-icon-button (click)="changeLeg(1)" matTooltip="Next leg" matTooltipShowDelay="500"
                        fxLayoutAlign="end center">
                        <mat-icon aria-hidden="false" aria-label="Next leg" fontIcon="arrow_right"></mat-icon>
                    </a>
                </div>
            </mat-card-title>
        </mat-card-header>
    
        <app-math-edit [readOnly]="false"></app-math-edit>
        <div> <!--style="background-color: var(--mdc-filled-text-field-container-color);"-->
            <mat-checkbox [(ngModel)]="showBubbles" title="Show estimated bubbles">Show estimated bubbles</mat-checkbox>
        </div>
    
        <div class="mat-elevation-z8"
             [class.table-container-landscape]="map.isLandscape$ | async"
             [class.table-container-portrait]="!(map.isLandscape$ | async)"
             tabindex="0">
            <mat-table [dataSource]="legs[leg_index]?legs[leg_index].annotations:[]">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let a; let i=index">
                        <input placeholder="name" type="text" [value]="a.name" (change)="change('name', i, $event)">
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="func_x">
                    <mat-header-cell *matHeaderCellDef> X </mat-header-cell>
                    <mat-cell *matCellDef="let a; let i=index">
                        <input placeholder="functions x-value at this point" type="number" [value]="a.func_x | number:'1.2-2'"
                               (change)="change('func_x', i, $event)">
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="offset">
                    <mat-header-cell *matHeaderCellDef> Offs (XY) </mat-header-cell>
                    <mat-cell *matCellDef="let a; let i=index">
                        <span class="row-buttons">
                            <input placeholder="x offset of bubble" type="number" [value]="a.ofs_x | number:'1.2-2'" (change)="change('ofs_x', i, $event)">
                            <input placeholder="y offset of bubble" type="number" [value]="a.ofs_y | number:'1.2-2'" (change)="change('ofs_y', i, $event)">
                        </span>
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let a; let i=index">
                        <span class="row-buttons">
                            <a (click)="deleteAnnotation(i)" matTooltip="Delete annotation point" matTooltipShowDelay="500"
                               [className]="(i>0)&&(i<legs[leg_index].annotations.length-1)?'':'disabled-button'">
                                <mat-icon class="button" aria-hidden="false" aria-label="delete" fontIcon="delete"></mat-icon>
                            </a>
                        </span>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="['name', 'func_x', 'offset', 'actions']; sticky: true"></mat-header-row>
    
                <mat-row *matRowDef="let row; columns: ['name', 'func_x', 'offset', 'actions'];"></mat-row>
    
            </mat-table>
        </div>
    
    </mat-card>

    <div class="placeholder-for-url-bar-scroll" [class.hidden]="header.isFullScreen$ | async">
    </div>

</app-map-edit>