.placeholder-for-url-bar-scroll {
    height: 36px;
}

a.mat-tonal-button {
    background-color: var(--mdc-filled-button-container-color);
    color: var(--mdc-filled-button-label-text-color); 
}

.table-container-portrait {
    height: calc(30dvh);
    overflow: auto;
}

.table-container-landscape {
    height: calc(100dvh - 48px - 36px);
    overflow: auto;
}

.mat-mdc-table-sticky {
    background: #59abfd;
    opacity: 1;
}

.mat-column-name { flex: 0 1 60%; }
.mat-column-lonlat { flex: 0 1 40%; }
