<app-header #header
            [step-index]="1" 
            header_title="Set area of interest"
            (before-forward)="stepForward()"
            tooltip="In Pan/Zoom mode you can drag the map with left mouse button and zoom in/out with the scroll wheel. 
                     In Edit mode you can move the corners of the area with the left mouse button.
                     In the table on the right you see the latitude-longitude values of the corners.">
</app-header>
<app-map-edit
    #map
    panelWidth="250px"
    (drawOverlay)="drawOverlayTransformed($event)"
    (enumPoints)="enumPoints($event)"
    (movePointTo)="movePointTo($event)"
    (finalizePoints)="setAreaOfInterest()"
>
    <mat-card>

        <mat-card-header>
            <mat-card-title>
                Area Lon/Lat
            </mat-card-title>
        </mat-card-header>
    
        <div class="mat-elevation-z8"
             [class.table-container-landscape]="map.isLandscape$ | async"
             [class.table-container-portrait]="!(map.isLandscape$ | async)"
             tabindex="0">
            <mat-table [dataSource]="[{name: 'Top-Left', lon: lonlat[0], lat: lonlat[1]},
                                    {name: 'Bottom-Right', lon: lonlat[2], lat: lonlat[3]}]">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Point </mat-header-cell>
                    <mat-cell *matCellDef="let corner; let i=index">
                        {{ corner.name }}
                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="lonlat">
                    <mat-header-cell *matHeaderCellDef> Lon/Lat </mat-header-cell>
                    <mat-cell *matCellDef="let corner; let i=index">
                        <span [className]="corner.lonlat_valid?'':'lonlat-invalid'">
                            {{corner.lon | number:'1.2-2'}} {{corner.lat | number:'1.2-2'}}</span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['name', 'lonlat']; sticky: true"></mat-header-row>
                        
                <mat-row *matRowDef="let row; columns: ['name', 'lonlat'];"></mat-row>
                        
            </mat-table>
        </div>

    </mat-card>

    <div class="placeholder-for-url-bar-scroll" [class.hidden]="header.isFullScreen$ | async">
    </div>

</app-map-edit>