.map-info {
    width: 350px;
    height: 100%;
}

a.mat-tonal-button {
    background-color: var(--mdc-filled-button-container-color);
    color: var(--mdc-filled-button-label-text-color); 
}

.table-header-cell td {
    font-weight: bold;
    border-bottom: 2px solid midnightblue;
    border-right: 2px solid midnightblue;
}

.table-cell tr td {
    border-right: 2px solid midnightblue;
}