<app-header [step-index]="1" 
            header_title="Create / Load a route"
            [last-step]="true"
            [first-step]="true"
            tooltip="You can load a (locally) saved route (with .vfr extension). Or you can create a new one.ű
                     If you are new to this application you can also click Sample route and you will get a pre-created
                     route with all the features included (TODO: currently it does not demonstrate the track feature).">
</app-header>
<div fxLayout='row' fxLayout.lt-sm='column'
     fxLayoutAlign='center center' fxLayoutAlign.lt-sm='start center'
     fxLayoutGap="20px" fxLayoutGap.lt-sm="10px"
     class="content-area"
    >
    <div fxLayout="column">
        <a mat-raised-button (click)="editOpenRoute()" [disabled]="!hasOpenRoute">Edit last route</a>
        &nbsp;
        <a mat-raised-button (click)="loadRoute()">Load a route</a>
        <input type="file" id="file-selector" #file_selector accept=".vfr" class="hidden" aria-label="---">
        &nbsp;
        <a mat-raised-button (click)="createRoute()">Create a route</a>
        &nbsp;
        <a mat-raised-button (click)="loadSample()">Sample route</a>
        &nbsp;
        <a mat-raised-button [matMenuTriggerFor]="publishedRoutes">Load published route</a>
        <mat-menu #publishedRoutes="matMenu">
            @for (rname of publishedRouteList; track $index) {
                <button type="button" mat-menu-item (click)="publishedRoute($index)">{{rname}}</button>
            }
        </mat-menu>
    </div>
    <form [formGroup]="form" fxLayout="column">
        <h1>Data of new route:</h1>
        <mat-label>Name of route:</mat-label>
        <mat-form-field fxFlex="100">
            <input type="text"
                   matInput
                   placeholder="Name of route"
                   name="rteName"
                   formControlName="rteName"
                   (change)="changeRouteData()"
            />
        </mat-form-field>
        <mat-label>Planned airspeed:</mat-label>
        <mat-form-field fxFlex="100">
            <input type="number"
                   matInput
                   placeholder="Planned airspeed"
                   name="speed"
                   formControlName="speed"
                   value="90"
                   (change)="changeRouteData()"
            />
        </mat-form-field>
        <mat-label>Date of flight (UTC):</mat-label>
        <mat-form-field fxFlex="100">
            <input type="text" 
                   matInput
                   [matDatepicker]="dofPicker"
                   placeholder="Date of flight (UTC)"
                   name="dof"
                   formControlName="dof"
                   (dateChange)="changeRouteData()"
            />
            <mat-datepicker-toggle matIconSuffix [for]="dofPicker"></mat-datepicker-toggle>
            <mat-datepicker #dofPicker></mat-datepicker>
        </mat-form-field>
        <mat-label>Time of flight (UTC):</mat-label>
        <mat-form-field fxFlex="100">
            <input type="time"
                   matInput
                   placeholder="Time of flight (UTC)"
                   name="tof"
                   formControlName="tof"
                   (change)="changeRouteData()"
            />
        </mat-form-field>
    </form>
</div>

