<app-header [step-index]="5"
            title="Add Tracks" 
            tooltip="In Pan/Zoom mode you can drag the map with left mouse button and zoom in/out with the scroll wheel. 
                     In Edit mode you can move constraint points with the left mouse button and create a new one with the middle button.
                     In the table on the right you can edit the points' x-valaue in function space and edit the function to use for that
                     leg's route.">
</app-header>
